/.idea
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/editor.xml
/.idea/customTargets.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.edit.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/.gitignore
/.idea/Combinatoria.iml
/.venv
/cmake-build-debug-mingw
/cmake-build-release-mingw